<div class = "row">
  <div class = "span6 offset3">
    <%=form_for(@trade) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.hidden_field :item_id, {value: @item.id }%>
        
        <%= f.label :name%>
        <%= f.text_field :name%>

        <%= f.label :comment %>
        <%= f.text_area :comment %>

        <%= f.label 'Email'%>
        <%= f.text_field :trade_email %>

        <%= f.label 'Phone' %>
        <%= f.text_field :phone_num %>

        <%= f.submit "Request it", class: "btn btn-large btn-primary" %>
    <% end %>
    <%= link_to 'Nevermind', root_url, class: "btn btn-large btn-primary" %>

  </div> <!-- span6 offset3 -->
</div>   <!-- row -->