<div class = "row">
  <div class = "span6 offset3">
    <%=form_for(@trade) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <%= f.label :name%>
        <%= f.text_field :name%>

        <%= f.label :comment %>
        <%= ff.text_area :comment %>

        <%= f.label :email%>
        <%= f.text_field :email %>

        <%= f.label :phone_num %>
        <%= ff.text_field :phone_num %>

        <%= f.submit "Request it", class: "btn btn-large btn-primary" %>
    <% end %>
    <%= link_to 'Nevermind', root_url, class: "btn btn-large btn-primary" %>

  </div> <!-- span6 offset3 -->
</div>   <!-- row -->