<div="form-group">
  <%= form_for :search, method: :get, id:'items_search' do |f| %>

      <%=f.text_field :location, :placeholder => 'Where are you?' %>

      <%= f.number_field :miles, in: 1.0..99.0, :placeholder => 'How far do you want to look? (max 99 miles)' %>

      <%= collection_select(:item, :category_id, Category.all, :id, :category) %>

      <%= f.submit "Search", class: "btn btn-success btn-block" %>
  <% end %>
</div>





