<h1>Listing items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Category</th>
      <th></th>
    
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.location %></td>
        <td><%= item.category.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Go back to Home', root_path %>