<% provide(:title, 'Edit Item') %>

<h1>Edit your item on the exchange.</h1>

<div class="form-group span6">
  <%= form_for(@item) do |f| %>

    <%= image_tag @item.image.url(:medium), class:'bg-primary img-item img-responsive', id:"image" %>

    <%= f.file_field :image, id:"upload_image" %>

    <%= render 'shared/error_messages' %>

    <%= collection_select(:item, :category_id, Category.all, :id, :category) %>

    <%= f.label  :name %>
    <%= f.text_field :name %>

    <%= f.label  :description %>
    <%= f.text_field :description %>

    <%= f.label  :location %>
    <%= f.text_field :location%>

    <%= f.label  :email %>
    <%= f.email_field :email %>

    <%= f.label  :phone %>
    <%= f.telephone_field :phone %>

    <%= f.submit "Save changes", class: "btn btn-default btn-block" %>
    <%= link_to 'Nevermind', root_url, class: "btn btn-default btn-block" %>
  <% end %>

<script>
  // This handles changing the image when a user uploads a new one
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object
      f=files[0]
      // Only process image files.
      if (f.type.match('image.*')) {
      var reader = new FileReader();

      reader.onload = (function(theFile) {
        return function(e) {
          document.getElementById("image").src=e.target.result;
        };
      })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
      }
    }
  document.getElementById('upload_image').addEventListener('change', handleFileSelect, false);

  // This handles changing the image when the user chooses a category.
  function handleCategorySelect(evt) {
    current_src = document.getElementById('image').src
    
  }
  document.getElementById('item_category_id').addEventListener('change', handleCategorySelect, false);
</script>
<div>
