<!DOCTYPE html>
<html>
 <head>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
 </head>

 <body>
    <h1>Thanks and welcome to the Garden Exchange!</h1>

    <p>
    Thanks for listing some of this season's harvest up on the garden exchange. Here are the next steps:
    </p>

    <ol>
      <li>Confirm that the listing information below is correct. If not, please click on the link to edit your listing now.</li>

      <li>When some one is interested in what you have to offer, you will receive an email from the Garden Exchange with their contact information and any other relevant information. Your listing will not be available to others once you have been contacted so please respond in a timely manner. Included in that initial email will be contact information if you are interested in a trade, a complete the trade option once you complete the transaction, and a cancel option to relist your item on the exchange if the trade does not work out.</li>

      <li>Any items you have listed will expire automatically in seven days. If you would like to relist your item, please use the link below to reset the start date of your trade.</li>

      <li>If you need to cancel your listing before the seven days, please use the cancel option below to remove your listing from the exchange.</li>
    </ol>
    <p>
    You listed the following on the Garden Exchange:
    <ul>
      <% @display_category = @item.category %>
      <li><%= @display_category.category %></li>
      <li><%= @item.name %></li>
      <li><%= @item.description %></li>
    </ul>
      <div>The location of this item is at: <%= @item.location %> </div>
      <% expiration_date = @item.created_at.days_since(7) %>
      <div>You listing will expire on <%= expiration_date.strftime('%m/%d/%Y') %></div>

      <p>If you need to edit your item go to: </p>

      <p> If you need to cancel your item go to: </p>

      <p>Thanks again for being a part of the Garden Exchange.</p>
 </body>
</html>
