<%= form_for :search, method: :get, id:'items_search' do |f| %>

  <div>
    <%= f.submit "Search", class: "btn btn-large btn-primary" %>
  </div>

  <div>
    <%=f.text_field :location %>
  </div>


  <div>
    <%= f.label :miles %>
    <%= f.text_field :miles %>
  </div>

  <div>
    <%= f.label :category %>
    <%= collection_select(:item, :category_id, Category.all, :id, :category) %>
  </div>


<% end %>





