<div class = "form-group">
  <%=form_for([@item,@trade]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.hidden_field :item_id, {value: @item.id }%>
    
    <%= f.text_field :name, :placeholder => 'My Name' %>

    <%= f.text_area :comment, :placeholder => 'Add a note. Ask a question.' %>

    <%= f.text_field :trade_email, :placeholder => 'Contact me by email.' %>

    <%= f.text_field :phone_num, :placeholder => 'Coming soon - text', :disabled=>true %>

    <%= f.submit "Request it", class: "btn btn-default btn-block" %>
  
    <%= link_to 'Nevermind', root_url, class: "btn btn-default btn-block" %>
  <% end %>

</div>   <!-- row -->